<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span></span>查询统计</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("故障记录", "TelegramReport")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("状态记录", "OprtReport")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("设备记录", "OprtReport")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>
