<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon"></span>手动指令</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("手动出库", "Index", "ManualOprt")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("手动挪移", "Transport", "ManualOprt")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("TV移动", "Move", "ManualOprt")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("临时取物", "TempGet", "ManualOprt")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>
