
@{
    ViewBag.Title = "临时取物";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_PartialSideNav")
    </div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>手动指令</li>
            <li class="active">临时取物</li>
        </ol>
        
        <h4>取物指令</h4>
        <hr />
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="txtIccd" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="chkplate" name="chkplate" />&nbsp;是否以<b>车牌号</b>取物
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="iccode" class="col-md-2 control-label" id="proof">用户卡号</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="iccode" name="iccode" placeholder="用户卡号" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="warehouse" class="control-label col-md-2">出库库区</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="warehouse" name="warehouse" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="control-label col-md-2">车位地址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="address" name="address" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="hallID" class="col-md-2 control-label">出库车厅</label>
                    <div class="col-md-10">
                        <select id="hallID" name="hallID" class="form-control">
                            <option value="0">请选择</option>
                        </select>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="button" id="btnFind" class="btn btn-default">查询</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" id="btnConfig" class="btn btn-default">确认取物</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" id="disp"></div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {

            setTimeout(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetOutHallName")",
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {

                    },
                    success: function (data) {
                        var html = '<option value="0">请选择</option>';
                        $.each(data, function (index, obj) {
                            html += '<option value="' + obj.OptionValue + '">' + obj.OptionText + '</option>';
                        });
                        $("#hallID").empty();
                        $("#hallID").append(html);
                    }
                });
            }, 500);

            $("#btnFind").click(function () {
                var $wh = $('input[name="warehouse"]');
                var $addrs = $('input[name="address"]');
                $wh.val("");
                $addrs.val("");

                var $iccd = $("#iccode").val().trim();
                if ($iccd == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入取车凭证！"
                    });
                    return;
                }
                var chk = $('#chkplate').is(':checked');
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("TempFind")",
                    data: { iccode: $iccd,isplate:chk },
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btnFind").text("提交中...");
                    },
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data.message
                        });
                        var cd = data.code;
                        if (cd == 1)
                        {
                            $wh.val(data.warehouse);
                            $("#hallID").val(data.hallID);
                            $addrs.val(data.locaddrs);
                            var mytime = new Date();
                            var time = mytime.toLocaleTimeString();
                            $("#disp").append('<p class="text-info">' + time + '&nbsp;&nbsp;&nbsp;查找成功-<i>车位</i>：' + data.locaddrs + ' &nbsp;&nbsp;<i>出车车厅</i>：' + data.hallID + '&nbsp;&nbsp;<i>库区</i>：' + data.warehouse + '</p>');
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btnFind").text("查找");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            });

            $("#btnConfig").click(function () {
                var $wh = $('input[name="warehouse"]');

                var $iccd = $("#iccode");
                if ($iccd.val() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入用户卡号！"
                    });
                    return;
                }
                
                var hall = $("#hallID option:selected").val();
                if (hall== "0") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入出库车厅"
                    });
                    return;
                }

                var chk = $('#chkplate').is(':checked');

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("TempGet")",
                    data: { iccode: $iccd.val(), hallID: hall,isplate:chk },
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btnConfig").text("提交中...");
                    },
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data.message
                        });
                        var cd = data.code;
                        if (cd == 1) {
                            $wh.val("");
                            var mytime = new Date();
                            var ctime = mytime.toLocaleTimeString();
                            $("#disp").append('<p class="text-info">' + ctime + '&nbsp;&nbsp;&nbsp;取物操作成功-<i>卡号</i>：' + $iccd.val() + '</p>');
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btnConfig").text("确认取物");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            });

            $("#chkplate")[0].checked = false;

            $("input[name='chkplate']").click(function () {
                checkboxClick();
            });

            function checkboxClick() {
                $("#iccode").val("");
                var chk = $('#chkplate').is(':checked');
                if (chk) {
                    $("#proof").html("车牌号码");
                    $("#iccode").attr("placeholder", "登记车牌号码");
                }
                else {
                    $("#proof").html("用户卡号");
                    $("#iccode").attr("placeholder", "用户卡号");
                }
            }

        });
      
    </script>
}