
@{
    ViewBag.Title = "手动挪移";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_PartialSideNav")
    </div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>手动指令</li>
            <li class="active">挪移指令</li>
        </ol>
        <h4>手动挪移</h4>
        <hr />
        <div class="row">
            <form id="frm" name="frm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="warehouse" class="control-label col-md-2">库区</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="warehouse" name="warehouse" placeholder="输入库区号，例：1、2等" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fromaddress" class="col-md-2 control-label">起始地址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="fromaddress" name="fromaddress" placeholder="源车位地址" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="toaddress" class="col-md-2 control-label">目的地址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="toaddress" name="toaddress" placeholder="目的车位地址" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="button" id="btnConfig" class="btn btn-default">确 认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#btnConfig").click(function () {
                var $wh = $("#warehouse").val().trim();
                if ($wh == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入库区号！"
                    });
                    return;
                }
                var $addr = $("#fromaddress").val().trim();
                if ($addr == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入起始地址！"
                    });
                    return;
                }
                var $toaddrs = $("#toaddress").val().trim();
                if ($toaddrs == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入目的地址！"
                    });
                    return;
                }

                var params = $("form").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Transport")",
                    data: params,
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btnConfig").text("提交中...");
                    },
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data.message
                        });                       
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btnConfig").text("确 定");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });

            });
        });

    </script>
}