
@{
    ViewBag.Title = "车位数据维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li><a href="#section1">查询车位</a></li>
            <li><a href="#section2">数据挪移</a></li>
            <li><a href="#section3">车位禁启</a></li>
            <li><a href="#section4">数据出库</a></li>
            <li><a href="#section5">数据入库</a></li>
        </ol>
        <div class="jumbotron" id="section1">
            <p>查询存车车位</p>
            <div>
                <form id="frmFind">

                </form>
            </div>
        </div> 
        <div class="jumbotron" id="section2">
            <p>section-2</p>
            <p>
                iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
            </p>
        </div>  
        <div class="jumbotron" id="section3">
            <p>section-3</p>
            <p>
                iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
            </p>
        </div>      
        <div class="jumbotron" id="section4">
            <p>section-4</p>
            <p>
                iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
            </p>
        </div>
        <div class="jumbotron" id="section5">
            <p>section-5</p>
            <p>
                iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
            </p>
        </div>      
    </div>
</div>

