@{
    ViewBag.Title = "关于我们";
}

<h3>联系我们</h3>
<br />
<div style="margin-left:40px">
    <h4>SHENZHEN CIMC-TIANDA AIRPORT SUPPORT LTD.</h4>

    <address>
        No.9, Fuyuan 2nd Road<br />
        Fuyong, Baoan District, Shenzhen, China<br />
        <abbr title="Phone">P:</abbr>
        86-755-26688488<br />
        <abbr title="Phone">Fax:</abbr>
        86-755-26685815<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">Support@stas.cimc.com</a><br />
        <strong>Marketing:</strong> <a href="#">Marketing@stas.cimc.com</a>
    </address>
</div>

