<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span></span>计费规则</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("计费标准", "Index")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("预付类规则", "PreRule")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("固定类规则", "FixRule")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("临时类规则", "TempRule")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>

