
@{
    ViewBag.Title = "计费规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb"> 
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>          
            <li>计费标准</li>                
        </ol> 
          
        <div>
            <p class="text-center text-info">计费标准的制定规则及说明信息</p>            
            <p>按时收费，即以停车时长（取车时间 - 车厅接收存车指令时间）为收费依据;</p>
            <p>举例：免费时长为30分钟   限额周期为24小时   限额周期最高金额为10元;</p>
            <ul>
                <li>免费时长:停车时间≤30分钟，收费0元</li>
                <li>首段收费：30分钟&ang;停车时间≤1小时，收费5元</li>
                <li>间隔收费：1小时&ang;停车时间，收费 =5+（停车时间-1）;<br /><p>停车时间大于1小时后不足一小时全部按1小时计算</p></li>
                <li>最高收费：24小时内累计收费金额≤10元</li>
            </ul>
            <p>总共停车时间不足间隔时长按1个间隔时长计算</p>
            <br />
            <p>示意图：<br /><img alt="按时收费规则" src="/Image/rule.jpg" /></p>
        </div> 
    </div>
</div>

