
@{
    ViewBag.Title = "计费规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb"> 
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>          
            <li>计费标准</li>                
        </ol> 
          
        <div>
            计费标准的制定规则及说明信息
        </div> 
    </div>
</div>

