
@{
    ViewBag.Title = "计费规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb"> 
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>          
            <li>计费标准</li>
            <li class="active">
                <a href="#section1">预付类</a>&nbsp;| &nbsp;
                <a href="#section2">临时类</a>&nbsp;| &nbsp;
                <a href="#section3">固定类</a>
            </li>           
        </ol>   
        <div id="section1">

        </div>
        <div id="section2">

        </div>
        <div id="section3">

        </div>
    </div>
</div>

