@{
    ViewBag.Title = "系统配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                查询条件
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-1 control-label" style="text-align:right;margin-top:4px">库区</label>
                    <div class="col-md-3">                       
                        <select id="warehouse" name="warehouse" class="selectpicker show-tick form-control">
                            <option value="0">请选择</option> 
                            <option value="1" selected>1 号库</option>
                        </select> 
                    </div>
                    <label class="col-md-1 control-label" style="text-align:right;margin-top:4px">设备</label>
                    <div class="col-md-3">
                        <select id="code" name="code" class="selectpicker show-tick form-control">
                            <option value="0">请选择</option>
                        </select>                        
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <button class="btn btn-primary" id="search_btn">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="toolbar" class="btn-group pull-right" role="group">
                <button id="btn_Detail" class="btn btn-default"><span></span>详情</button>
                <button id="btn_Edit" class="btn btn-default"><span></span>编辑</button>
            </div>
            <table id="deviceGrid"></table>
        </div>    
    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/bootstraptable")
    @Scripts.Render("~/bundles/bootstraptable")
    <script>
        $(function () {

            $(".selectpicker").selectpicker({});
            
            setTimeout(function () {
                var $goods = $("#code");
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSelectItemName")",
                    data:{"warehouse":1},
                    dataType: "json",
                    beforeSend: function (XMLHttpRequest) {
                        var html = '<option value="0" selected>加载中...</option>';
                        $goods.empty();
                        $goods.append(html);                      
                    },
                    success: function (data) {
                        var html = '<option value="0">请选择</option>';
                        $.each(data, function (index, obj) {
                            html += '<option value="' + obj.OptionValue + '">' + obj.OptionText + '</option>';
                        });
                        $goods.empty();
                        $goods.append(html);
                        $goods.selectpicker('render');
                        $goods.selectpicker('refresh');
                    },
                    complete: function (XMLHttpRequest, textStatus) {

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }, 500);
          
            var $table = $("#deviceGrid");
            $table.bootstrapTable({
                toolbar: "#toolbar",
                toolbarAlign: "right",
                buttonsAligh: "right",               
                showRefresh: true,  
                showToggle: true,
                showFooter: false,
                showColumns: true,    //显示所有列
                pagination: true,
                striped: true,              //是否显示行间隔色
                sidePagination: "server",
                clickToSelect: true,
                singleSelect: true,
                pageNumber: 1,              //初始化加载第一页，默认第一页
                pageSize: 10,                 //每页的记录数
                pageList: "[5,10,20,50]",
                method: "post",
                url: "@Url.Action("FindDeviceList")",
                queryParams: queryParams,         //前端调用服务时，会默认传递上边提到的参数
                queryParamsType: "",              //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
                dataType: "json",
                columns: [
                    {
                        title: "选中",
                        checkbox: true,
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "ID",
                        field: "ID",
                        visible: true,
                        align: "center",
                        valign: "middle",
                        sortable: true,
                        visible: false
                    },
                    {
                        title: "库区",
                        field: "Warehouse",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "作业设备",
                        field: "DeviceCode",
                        align: "center",
                        valign: "middle",
                        sortable: true,
                        formatter: deviceFormatter
                    },
                    {
                        title: "设备类型",
                        field: "Type",
                        align: "center",
                        valign: "middle",
                        formatter: typeFormatter
                    },
                    {
                        title: "车厅类型",
                        field: "HallType",
                        align: "center",
                        valign: "middle",
                        formatter: halltypeFormatter
                    },
                    {
                        title: "模式",
                        field: "Mode",
                        align: "center",
                        valign: "middle",
                        formatter: modeFormatter
                    },
                    {
                        title: "可用性",
                        field: "IsAble",
                        align: "center",
                        valign: "middle",
                        formatter: ableFormatter
                    },
                    {
                        title: "可接收指令",
                        field: "IsAvailabe",
                        align: "center",
                        valign: "middle",
                        visible: false,
                        formatter: ableFormatter
                    },
                    {
                        title: "地址",
                        field: "Address",
                        align: "center",
                        valign: "left"
                    },
                    {
                        title: "所在层",
                        field: "Layer",
                        align: "center",
                        valign: "left",
                        visible: false
                    },
                    {
                        title: "作业ID",
                        field: "TaskID",
                        align: "center",
                        valign: "middle",                        
                        visible: false
                    },
                    {
                        title: "操作",
                        field: "Operate",
                        align: "center",
                        valign: "middle",
                        events: actionEvents,
                        formatter: operateFormatter
                    }
                ],

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },
                formatNoMatches: function () {
                    return "无符合条件的记录";
                }
            });

            function queryParams(params) {
                return {
                    pageSize: params.pageSize,  //一定包含
                    pageIndex: params.pageNumber,  //一定包含
                    sortOrder: params.sortOrder,
                    sortName: params.sortName,
                    warehouse: $("#warehouse option:selected").val(),
                    code: $("#code option:selected").val()
                };
            }

            //设备
            function deviceFormatter(value, row, index)
            {
                var msg = "";
                if (value > 10)
                {
                    msg = (value - 10).toString() + " #车厅";
                }
                else
                {
                    msg = value.toString() + " #ETV";
                }
                return msg;
            }

            //类型
            function typeFormatter(value, row, index)
            {
                var msg = "";
                if (value == 1)
                {
                    msg = "车厅";
                }
                else if(value==2)
                {
                    msg = "ETV";
                }
                return msg;
            }

            //车厅类型
            function halltypeFormatter(value, row, index)
            {
                var msg = "";
                if (value == 1) {
                    msg = "进车厅";
                }
                else if (value == 2) {
                    msg = "出车厅";
                }
                else if (value == 3) {
                    msg = "进出车厅";
                }
                return msg;
            }

            //模式
            function modeFormatter(value, row, index)
            {
                var msg = "";
                if (value == 1) {
                    msg = "维修";
                }
                else if (value == 2) {
                    msg = "手动";
                }
                else if (value == 3) {
                    msg = "单机自动";
                }
                else if (value == 4) {
                    msg = "全自动";
                }
                return msg;
            }

            //是否
            function ableFormatter(value)
            {
                var msg = "";
                if (value ==1) {
                    msg = "是";
                }
                else
                {
                    msg = "否";
                }
                return msg;
            }

            function operateFormatter(value, row, index) {
                return '<a class="detail" href="javascript:void(0)" title="更多"><i class="glyphicon glyphicon-list-alt"></i></a>&nbsp;&nbsp;&nbsp;' +
                       '<a class="edit" href="javascript:void(0)" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>';
            }

            //详细信息
            $("#btn_Detail").click(function () {
                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined') {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else {
                    var sID = selected.ID;
                    window.location.href = "/SystemManager/MSConfig/Detail?ID=" + sID;
                }
            });

            //编辑
            $("#btn_Edit").click(function () {
                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined') {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else {
                    var sID = selected.ID;
                    window.location.href = "/SystemManager/MSConfig/Edit?ID=" + sID;
                }

            });

            //查找
            $("#search_btn").click(function () {
                $table.bootstrapTable("refresh");
            });

        });

        window.actionEvents = {
            'click .detail': function (e, value, row, index) {
                window.location.href = "/SystemManager/MSConfig/Detail?ID=" + row.ID;
            },
            'click .edit': function (e, value, row, index) {
                window.location.href = "/SystemManager/MSConfig/Edit?ID=" + row.ID;
            }
        };

    </script>
}



