<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>   
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Parking2017.mdf;Initial Catalog=Parking2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=MORUIYI;Initial Catalog=Parking2017;User ID=sa;password =td_1234;MultipleActiveResultSets=true"
    providerName="System.Data.SqlClient" />
</connectionStrings>
