<?xml version="1.0" encoding="utf-8"?>
<root>
  <!--计费功能 -->
  <ChargeEnable>0</ChargeEnable>
  <!--临时卡缴费后，超时出库时间( 以 分钟 为单位)-->
  <OnlineChgOutTime>15</OnlineChgOutTime>
  <!-- 1、后台读卡 0、前端读卡-->
  <BackGroundRdCd>0</BackGroundRdCd> 
  <ICCardIPAddress>0</ICCardIPAddress>
  <!--车厅最大允许取车数量-->
  <MaxHallGetCar>2</MaxHallGetCar>
  <!--EXCEL报表导出路径-->
  <FilePath>F:\Parking_Report</FilePath>
  <!--客户端指纹仪或刷卡器-->
  <OCXIPAddrs>http://10.3.36.10:81/</OCXIPAddrs>
  <!--车牌识别图片路径-->
  <PlatePicPath>F:\Parking_Log\Plate\</PlatePicPath>
  <!--IIS建立的图片虚拟目录-->
  <PlateVirtualPath>http://10.3.36.10:81/Plate/</PlateVirtualPath>
  <H1PlateIPAddrss>10.3.36.21</H1PlateIPAddrss>
  <H2PlateIPAddrss>10.3.36.31</H2PlateIPAddrss>
  <Limit>
    <code>1413</code>
    <!--MjA5OS8xLzE= (2099-1-1)-->
    <value>MjA5OS8xLzE=</value>
    <current>MjAxNy83LzE5</current>
  </Limit>
  <CarrierHasCar>280</CarrierHasCar>
  <CarrierNoCar>281</CarrierNoCar>
  <PartAHold>321</PartAHold>
  <PartBHold>323</PartBHold>
  <PartARelease>322</PartARelease>
  <PartBRelease>324</PartBRelease>
</root>