<?xml version="1.0" encoding="utf-8" ?>
<root>
  <!--计费功能 -->
  <ChargeEnable>0</ChargeEnable>
  <!--主plc连接的数量-->
  <PlcCount>1</PlcCount>
  <PLCRefresh>500</PLCRefresh>  
  <ICcdRefresh>1000</ICcdRefresh>
  <!--客户端刷卡器的IP地址，客户端统一设置 -->
  <ICCardIPAddress>192.168.0.20</ICCardIPAddress>
  <!--区分库区，区分车厅-->
  <setting>
    <!--开始设定库区信息-->
    <PLC ID="1">
      <!--plc ip地址-->
      <PlcIPAddress>192.168.0.101</PlcIPAddress>    
      <!--要读取的连接项-->
      <ConnectItem>
        S7:[S7 connection_1]DB1001,INT0,50;
        S7:[S7 connection_1]DB1001,INT100,1;
        S7:[S7 connection_1]DB1002,INT0,50;
        S7:[S7 connection_1]DB1002,INT100,1;
        S7:[S7 connection_1]DB1003,B0,54;
        S7:[S7 connection_1]DB1005,B0,54;
        S7:[S7 connection_1]DB1007,B0,54;
        S7:[S7 connection_1]DB1023,B0,54;
        S7:[S7 connection_1]DB1025,B0,54;
      </ConnectItem>
      <!--库区车位边列层，以‘-’分开-->
      <LocInfo>2-20-3</LocInfo>
      <!--车厅-->
      <halls count="2">
        <hall>
          <ID>11</ID>
          <!--刷卡器的网络地址-->
          <ICCardIPAddrss>192.168.0.10</ICCardIPAddrss>
          <!--LED显示屏网络地址-->
          <LEDAddress></LEDAddress>          
        </hall>
        <hall>
          <ID>12</ID>
          <!--刷卡器的网络地址-->
          <ICCardIPAddrss>192.168.0.11</ICCardIPAddrss>
          <!--LED显示屏网络地址-->
          <LEDAddress></LEDAddress>
        </hall>
      </halls>            
    </PLC>
    
  </setting>
</root>