<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon"></span>顾客管理</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("IC卡管理", "ICCard", "Manage")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("顾客管理", "Index", "CustomerManager")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>
