<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span></span>缴费管理</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("临时类缴费", "TempCardCharge", "Manage")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("固定类缴费", "FixCardCharge", "Manage")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink(" 计费规则 ", "FixCardCharge", "ChargingRule")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>
