<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon"></span>故障汇总</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("1号车厅", "Index", "FaultSummary")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("2号车厅", "Hall2", "FaultSummary")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("1号ETV", "TV1", "FaultSummary")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("2号ETV", "TV2", "FaultSummary")</div>                  
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>
