<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span></span>查询统计</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span></span>@Html.ActionLink("临时用户缴费", "TempChargeRecord")</div>
            <div class="list-group-item"><span></span>@Html.ActionLink("固定用户缴费", "FixChargeRecord")</div>           
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;@Html.ActionLink("主 页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</div>
        </div>
    </div>
</div>
